#brand{

    margin-right: 47%;
}
@font-face 
{
    font-family:inter;
    src:url(assets/fonts/static/Inter-Regular.ttf)
}
body{
    font-family: inter;
}
hr{
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:hsl(236, 13%, 42%);
    height: 1px;
}
#logo{
    
    margin-left: 7rem;
    width: 30%;
    
}
.container
{

  
    margin-top: 1.5rem;
    margin-left: 7rem;
    
    
}

.container-grid2
{
    display: grid;
  
    padding: rem;
    background-color:hsl(240, 100%, 5%);
    grid-template-columns: auto;
    grid-column-gap: 0px;
    width: 20rem;
    margin-left: 2rem;
    padding: 1rem;
}
.container-grid-3
{
margin-top: 1rem;
display: grid;
grid-column-gap: 0px;
grid-template-columns: auto auto;

}
#top-img{
    width: 100%;
    margin-bottom: 2rem;
    
}
#head{
    
    clear: both;
    width: 15rem!important;
    font-weight: 700;
}
#new-desc{
    color: hsl(233, 8%, 79%);
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    
    
}
#new-title{
    text-align: left;
    color:hsl(36, 100%, 99%);
    font-weight:700 ;
}
#new{
    color:hsl(35, 77%, 62%);
}
#top-par{
   margin-left: 10rem;
   width: 70%;
}
.btn-secondary{
    width: 8rem;
    height:2rem;
    background-color:hsl(5, 85%, 63%);
    border: none;
   
}
#bottom-img{
    width: 30%;
    margin:0px
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
.card-text{
    width: 12rem;
    font-size: 10px;
    font-weight: 300;
}
#b-title{
    font-size: 15px;
    font-weight: 700;
}
.card{
    margin-left: 0rem;
    max-width: 275px;
}
.card-title{
    color: hsl(233, 8%, 79%);
    font-weight: 700;
}

body{
    margin-bottom: 4rem;
}

@media only screen and (max-width: 375px) {
    #logo{
    
        margin-left: 1rem;
        width: 50%;
        
    }
    
    #brand{

        margin-right: 20%;
    } 

    #top-img{
        width: 300px;
        height: 300px;
        
    }
    .container-grid2
    {
    display: grid;
    margin-top: 3rem;
    margin-left:1rem;
    }

    .container
{

  
    margin-top: 1.5rem;
    margin-left: 1rem;
    
    
}
   #head{
    width: 100%;
    line-height: 40px;
   }
   #top-par{
    width: 100%;
   }
   .card-img{
    margin-top: 20px;
    max-width: 150px;
    
   }
   .card-text{
    margin-top: 0px;
    width: 8rem;
    font-size: 10px;
}
br{
   
}
  }